body {
  font-size: 16px;
  color: #fff;
  background-color: black;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #FDFEFE;
  border-radius: 0;
  border: 0;
}

#logo-img {	
  background: url('../images/lord-large.jpg') no-repeat;
  width: 250px;
  height: 150px;
  margin: 10px 15px 0px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 5px;

}
/*.navbar-brand p span {  Star-K 
  vertical-align: middle;
}
*/
#nav-list {
  margin-top: 15px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


.facebook {
 background: url('../images/facebook32by32.png') no-repeat;
 /*padding: 0px 35px 45px 15px;*/
 float: right;
 width: 55px;
 height: 50px;

}
.twitter {
  background: url('../images/twitter32by32.png') no-repeat;
  /*padding: 0px 25px 45px 25px;*/
  float: right;
  width: 55px;
  height: 50px;
}
.instagram {
  background: url('../images/instagram32by32.png') no-repeat;
  float: right;
  width: 55px;
  height: 50px;
/*  margin-left: 180px;*/
}

.menu-h2 {
  margin-top: 50px;
  text-align: center;
}
.menu-item {
  font-style: italic;
  text-align: center;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  /*color: #557c3e;*/
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
  }

/*HOME PAGE*/
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/menu-tile.png') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
/*.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: center;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}*/
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {

.container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 500px;
  }
  .container .jumboabout {
    background: url('../images/about_1200.jpg') no-repeat;
    height: 600px;
  }

  .container .tennesseetron {
    background: url('../images/tennessee_1200.png') no-repeat;
    height: 600px;
  }

.container .italiantron {
    background: url('../images/italian_1200.png') no-repeat;
    height: 600px;
  }

  .container .sweettron {
    background: url('../images/sweet_1200.png') no-repeat;
    height: 600px;
  }

   .container .mexicantron {
    background: url('../images/mexican_1200.jpg') no-repeat;
    height: 600px;
  }

  .about {
  text-align: center;
  }
#about-description {
  text-align: center;
  margin: 40px 60px 0px 60px;
  }
  .specialsmeatballs {
  background: url('../images/meatballs-large.jpg') no-repeat;
  height: 380px; 
  margin-left: 400px;
  } 
  .specialstexas {
  background: url('../images/texas-large.png') no-repeat;
  height: 380px; 
  margin-left: 400px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/lord-large.jpg') no-repeat;
    width: 250px;
    height: 150px;
    margin: 5px 5px 5px 0;
  } 
  /* End Header */

/* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
.container .jumboabout {
    background: url('../images/about_992.jpg') no-repeat;
    height: 558px;
  }
  .container .tennesseetron {
    background: url('../images/tennessee_992.png') no-repeat;
    height: 558px;
  }

  .container .italiantron {
    background: url('../images/italian_992.png') no-repeat;
    height: 558px;
  }

  .container .sweettron {
    background: url('../images/sweet_992.png') no-repeat;
    height: 558px;
  }

  .container .mexicantron {
    background: url('../images/mexican_992.jpg') no-repeat;
    height: 558px;
  }
.about {
  text-align: center;
  }
#about-description {
  text-align: center;
  margin: 40px 20px 0px 20px;
  }
  .specialsmeatballs {
  background: url('../images/meatballs-medium.jpg') no-repeat;
  height: 280px; 
  margin-left: 350px;
  } 
   .specialstexas {
  background: url('../images/texas-medium.png') no-repeat;
  height: 280px; 
  margin-left: 350px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
  #logo-img {
    background: url('../images/lord-medium.jpg') no-repeat;
    width: 120px;
    height: 100px;
    margin: 5px 5px 5px 0;
  } 
  /* End Header */

/* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }

  .container .jumboabout {
    background: url('../images/about_768.jpg') no-repeat;
    height: 432px;
  }

  .container .tennesseetron {
    background: url('../images/tennessee_768.png') no-repeat;
    height: 432px;
  }

  .container .italiantron {
    background: url('../images/italian_768.png') no-repeat;
    height: 432px;
  }

    .container .sweettron {
    background: url('../images/sweet_768.png') no-repeat;
    height: 432px;
  }

.container .mexicantron {
    background: url('../images/mexican_768.jpg') no-repeat;
    height: 432px;
  }
.about {
  text-align: center;
  }
#about-description {
  text-align: center;
  margin: 40px 20px 0px 20px;
  } 


  .facebook {
 background: url('../images/facebook32by32.png') no-repeat;
 /*padding: 0px 35px 45px 15px;*/
 float: right;
 width: 55px;
 height: 50px;
}

.twitter {
  background: url('../images/twitter32by32.png') no-repeat;
  /*padding: 0px 25px 45px 25px;*/
  float: right;
  width: 55px;
  height: 50px;
}

.instagram {
  background: url('../images/instagram32by32.png') no-repeat;
  float: right;
  width: 55px;
  height: 50px;
/*  margin-left: 100px;*/
}
.specialsmeatballs {
  background: url('../images/meatballs-medium.jpg') no-repeat;
  height: 280px; 
  margin-left: 240px;
  } 
   .specialstexas {
  background: url('../images/texas-medium.png') no-repeat;
  height: 280px; 
  margin-left: 240px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #logo-img {
    background: url('../images/lord-medium.jpg') no-repeat;
    width: 120px;
    height: 80px;
    margin: 0px 5px 5px 50px;
  } 
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #FFE800;
    color: black;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  .facebook-xs {
  background: url('../images/facebook32by32.png') no-repeat;
  width: 50px;
  height: 50px;
  float:left;
  margin-left: 50px;
 }
  .twitter-xs {
  background: url('../images/twitter32by32.png') no-repeat;
  width: 50px;
  height: 50px;
 float:left;
 }
  .instagram-xs {
  background: url('../images/instagram32by32.png') no-repeat;
  width: 50px;
  height: 50px;
 float:left;
 }
 .about {
  text-align: center;
  }
#about-description {
  text-align: center;
  margin: 40px 20px 0px 20px;
  } 
  .specialsmeatballs {
  background: url('../images/meatballs-small.jpg') no-repeat;
  height: 280px; 
  margin-left: 50px;
  } 
  .specialstexas {
  background: url('../images/texas-small.png') no-repeat;
  height: 280px; 
  margin-left: 50px;
  }
}

  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
 }

 .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
/*specials section*/
.specials-items {
  line-height: 50px
}
}
